body{
    margin: 0;
}

h1 {
  font-size: 45px;
  text-align: center;
  /*border-bottom: 2px solid gray;*/
  padding:20px;
  margin:0;
}
/*
ol {
  border-right: 2px solid gray;
  width:100px;
  margin:0;
  padding:20px;
}
#grid{
  display: grid;
  grid-template-columns:150px 1fr;
}
#grid ol{
  padding-left: 33px;
}
#grid #article{
  padding-left:25px;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  ol{
    border-right: none;
  }
  h1{
    border-bottom: none;
  }
}
*/

.a{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color:white;
}
.b{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color:white;
}
.c{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color:white;
}

/* 목록에 마우스 대면 글씨 커지는 효과 */
.c:hover{
  font-size: 1.8rem;
  transition: all 0.2s; /* 0.2초간 변화주기 */
}


/* parallax 효과 */
.scene{
  height: 80vh;
  overflow: hidden;
  background-attachment: scroll;
  background-position:center;
  background-size: cover;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
}

/* 모래 배경 사진 9개 */
.scene.one{
background-image: url(img/20190119.jpg);
}
.scene.two{
background-image: url(img/20190126.jpg);
}
.scene.three{
background-image: url(img/20190208.jpg);
}
.scene.four{
background-image: url(img/20190210-0.jpg);
}
.scene.five{
background-image: url(img/20190210-1.jpg);
}
.scene.six{
background-image: url(img/20190909.jpg);
}
.scene.seven{
background-image: url(img/20190912.jpg);
}
.scene.eight{
background-image: url(img/20190919-1.jpg);
}
.scene.nine{
background-image: url(img/20190919-2.jpg);
}

/* 글자 색, 위치, 크기 설정- 가운데*/
.scene header{
  color:white;
  max-width: 80%;
  position: relative;
  left: 50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5rem;
  text-align: center;
}

/* 글자 크기 2배, 밑에 마진주고, 글자 두께 설정 */
.scene header h1{
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

/* 글씨 밑에 흰 선 */
.scene header h1:after{
  content: '';
  border-bottom: 1px solid white;
  width: 13rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}
